.encoding-table {
  width: 100%;
  margin-left: 0 !important;
  padding: 1rem;
  border: none;
  border-collapse: collapse;
  text-align: center;
  font-size: 20px;
  font-family: monospace;

  TD,
  TH {
    padding: .45rem !important;
    border: none;
  }

  TH {
    background-color: #EEE !important;
    color: #999;

    &:empty {
      background: none !important;
    }
  }

  TD {
    font-family: Georgia, serif;
  }

  SMALL {
    display: none;
  }

}

